<p id="notice"><%= notice %></p>

<h1>Teams</h1> 
<br>
<% if @user_id == @admin %>
  <%= link_to 'New Team', new_team_path %>
<% end %>

<br>
<br>

 <div class="main">
        <div class="mainHeader" >
            <div class="allteams" >
                <%= link_to 'All', teams_path %> 
            </div> 
            <div class="myteams" >
                <% if current_user %>
                  <%= link_to 'Myteams', myteams_path %> 
                <% else %>
                    <%= link_to 'Myteams', new_user_session_path %>
                <% end %>
                
            </div>

        </div>
 
 <div class="teamBox" >
    <% if @teams.first  %>
    
        <table style="width:100%; border: solid">
            <% @teams.each do |nflteam| %>
            
                <tr> 
                    <td rowspan="2" class="teamBoxAvatar">
                        <%= link_to image_tag(nflteam.avatar, style:" width:50px" ) , team_path(nflteam.name) %>
                    </td>
                    <td class="boxName">
                        <p>
                            <%= link_to nflteam.name , team_path(nflteam.name ) %>
                        </p>
                    </td> 
                    <td rowspan="2" class="boxScore">
                        4 - 0
                    </td>
                    <td class='add' id='add'  rowspan="2"  >
                        <p class= <% nflteam.name %>, id='pp'>
                            <% if current_user  %>
                                <%= form_with(model: @team, scope: "team" ) do |form|  %>
                                    <%=form.hidden_field :name, :value => nflteam.name  %>
                                    <%=form.hidden_field :user_id, :value => @user_id %> 
                                    <%= form.submit "+" ,id: 'addBttn'%>
                                <% end %>
                            <% else %>
                                <%= link_to "+", new_user_session_path , id: 'addBttn'%>
                            <% end %> 
                        </p>
                    </td>  
                    <% if @user_id == @admin %>
                        <td><%= link_to 'Edit', edit_team_path(nflteam) %></td>
                        <td><%= link_to 'Destroy', team_path(nflteam), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    <% end %>       
                    
                </tr>
                <tr>
                    <th class="boxName">
                        "  @team.name   "
                    </th> 
                </tr> 
            <% end %>
        </table>

    <% else %>

 
    <% end %>
</div>  
</div> 

 

 

 