



<div class="myteamsMain">

    <div class="contentHeader">
        <div class="myteamsWatchlist" id="myteamsWatchlist">
        <h4>Watchlist<h4>
        </div>
        <div class="myteamsAll" id="myteamsAll">
        <h4>All<h4>
        </div>
        <div class="myteamsTrending" id="myteamsTrending">
        <h4>Trending<h4>
        </div>
    </div>


    <div class="myteamsDiv">  
        <% @my_teams.each do |nflteam| %>
     
        <div class="myteamsDivTableWrap">
            <table style="width:100%">
                <tr>
                        <td rowspan="2" class="myTeamBoxAvatar">
                            <%= link_to image_tag(Team.find(nflteam.team_id).avatar, style:" width:90%" ) , team_path(Team.find(nflteam.team_id).name) %>
                        </td>
                         
                    </td>
                        <td class="boxName">
                            <p>
                                <%=   Team.find(nflteam.team_id).name   %>
                            </p>
                        </td> 
                        <td rowspan="2" class="boxScore">
                            <%=Team.find(nflteam.team_id).win %> - <%=Team.find(nflteam.team_id).loss %> 
                        </td>
                        <td class='myTeamsDelete'  rowspan="2"  > 
                                <% if current_user  %>
                                <%= link_to 'x', nflteam, id: 'myTeamsdDelBttn', remote: true, method: :delete %>   
                                <% else %> 
                                <% end %> 
                               
                        </td>        
                        
                    </tr>
                    <tr>
                        <td class="boxName">
                            <%= Team.find(nflteam.team_id).abr_name %>
                        </td> 
                    </tr> 
                
                </table> 
            </div> 
        <% end %>
    </div> 




        <div class="teamMainMyteamsDiv" >
        <% if @teams.first  %>
        <% @teams.each do |nflteam| %> 

            <div class="teamsDivTableWrap">
                <table style="width:100%" class="mainTable"> 
                    <tr> 
                        <td rowspan="2" class="teamBoxAvatar">
                            <%= link_to image_tag(nflteam.avatar, style:" width:90%" ) , team_path(nflteam.name) %>
                        </td>
                        <td class="boxName">
                            <p>
                                <%= link_to nflteam.name , team_path(nflteam.name ) %>
                            </p>
                        </td> 
                        <td rowspan="2" class="boxScore">
                            4 - 0
                        </td>
                        <td class='add' id='add'  rowspan="2"  > 
                                <% if current_user  %>
                                    <%= form_with(model: @userteam, scope: "userteam" ) do |form|  %>
                                        <%=form.hidden_field :team_id, :value => nflteam.id  %>
                                        <%=form.hidden_field :user_id, :value => current_user.id %> 
                                        <%= form.submit "+" ,id: 'teamAddBttn'%>
                                    <% end %>
                                <% else %>
                                    <%= link_to "+", new_user_session_path , id: 'teamAddBttn'%>
                                <% end %>  
                        </td> 

                        <% if @user_id == @admin %>
                            <td><%= link_to 'Edit', edit_team_path(nflteam) %></td>
                            <td><%= link_to 'Destroy', team_path(nflteam), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        <% end %>       
                        
                    </tr>
                    <tr>
                        <td class="boxName">
                            "  @team.name   "
                        </td> 
                    </tr>
                </table>
            </div>
        <% end %>
        <% else %>
        <% end %>
        </div> 
    </div>     
 
 
</div>

 
    

     
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
     